@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --color-blue: rgb(4, 76, 184);
    --color-yellow: rgb(255, 200, 42);
    --color-white: #FFF;
    --color-gray-dark: #32392A;
    --color-gray: #C8BDBD;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    margin: 10 0 0 10;
    align-items: center;
    padding: 0 10%;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-gray);
    color: var(--color-blue);
    height: 80px;
    justify-content: space-between;
    border-top: 2px solid var(--color-yellow);
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-blue);
}

h4 {
    margin: 0 10px;
    font-size: small;
}

h4 a{
    color: var(--color-blue);
}


#image-logo-estado {
    margin-left: 40px;
    width: 200px; 
    height: auto;
}

#image-logo-site {
    border-radius: 50%;  
    position: absolute;   
    right: 10px;         
    top: 10px; 
    bottom: 10px;  
    width: 50px;
}

body {
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1;
    margin: 10px 20px 10px 80px;
    overflow: auto;
    padding: 2rem 10%;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    font-style: var(--color-gray-dark);
    text-align: justify;
}

.sidebar {
    top: 0;
    flex-direction: column;
    background-color: var(--color-blue);
    width: 150px;
    height: 100%;
    position: absolute;
    float: left;
    margin-left: 0;
}

footer {
    margin: 20px 20px 05px 20px;
    width: fit-content;
    text-align: center;
    align-self: center;
    background-color: var(--color-blue);
    padding: 10px;
    border-radius: 10px;
}

a {
    color: var(--color-yellow);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}