@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --color-blue: rgb(4, 76, 184);
    --color-yellow: rgb(255, 200, 42);
    --color-white: #FFF;
    --color-gray-dark: #32392A;
    --color-gray: #C8BDBD;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    margin: 10 0 0 10;
    align-items: center;
    padding: 0 10%;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-gray);
    color: var(--color-blue);
    height: 56px;
    justify-content: space-between;
    gap: 3 rem;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-blue);
}

h4 {
    margin-right: 10px;
    font-size: small;
}

img {
    margin-left: 40px;
    width: 200px;
}

body {
    font-family: Inter, sans-serif;
    display: flex;         
    flex-direction: column; 
    min-height: 100%; 
}

main{
    flex: 1;                
    overflow: auto;  
}

.sidebar {
    top: 0;
    flex-direction: column;
    background-color: var(--color-blue);
    width: 150px;
    height: 120%;
    position: absolute;
    float: left;
    margin-left: 0;
}

.info-container {
    margin: 10px 200px 10px 20px;
    max-width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 30px 200px;
}

.info-label {
    font-weight: bold;
    margin-right: 20px;
    color: var(--color-blue);
}

.info-data {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}
a{
    color: var(--color-yellow);
    text-decoration: none;
    font-weight: bold;
}
footer {
    margin: 10px 20px 05px 20px;
    width: fit-content;
    text-align: center;
    align-self: center;     
    background-color: var(--color-blue);
    padding: 10px;  
    border-radius: 10px;       
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
