@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --color-blue: rgb(4, 76, 184);
    --color-yellow: rgb(255, 200, 42);
    --color-white: #FFF;
    --color-gray-dark: #32392A;
    --color-gray: #C8BDBD;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    margin: 10 0 0 10;
    align-items: center;
    padding: 0 10%;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-gray);
    color: var(--color-blue);
    height: 80px;
    justify-content: space-between;
    border-top: 2px solid var(--color-yellow);
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-blue);
}

h4 {
    margin-right: 10px;
    font-size: small;
}
 
h4 a{
    color: var(--color-blue);
}

#image-logo-estado {
    margin-left: 40px;
    width: 200px; 
    height: auto;
}

#image-logo-site {
    border-radius: 50%;  
    position: absolute;   
    right: 20px;         
    top: 10px; 
    bottom: 10px;  
    width: 70px;
}

body {
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1;
    overflow: auto;
}

.sidebar {
    top: 0;
    flex-direction: column;
    background-color: var(--color-blue);
    width: 150px;
    height: 100%;
    position: absolute;
    float: left;
    margin-left: 0;
}

.info-container {
    margin: 10px 200px 10px 20px;
    max-width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px var(--color-gray-dark, 0.1);
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 20px 200px;
}

.info-label {
    font-weight: bold;
    margin-right: 20px;
    color: var(--color-blue);
}

.info-data {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

a {
    color: var(--color-yellow);
    text-decoration: none;
    font-weight: bold;
}

footer {
    margin: 05px 20px 05px 20px;
    width: fit-content;
    text-align: center;
    align-self: center;
    background-color: var(--color-blue);
    padding: 10px;
    border-radius: 10px;
}

.redirect-button {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.redirect-button:hover {
    background-color: var(--color-yellow);
}

.redirect-button a {
    color: var(--color-white);
    text-decoration: none;
}
